@import '~angular/material/theming';
@include mat-core();
 
$ngBlog-app-primary: mat-palette($mat-blue-grey, 900);
$ng-Blog-app-accent: mat-palette($mat-red, A200);

$ng-app-warn: mat-palette($mat-red);

$ngBlog-app-theme: mat-light-theme($ngBlog-app-primary, $ng-Blog-app-accent, $ng-app-warn);
@include angular-material-theme($ngBlog-app-theme);
 